/*Esto es un comentario*/
body{
    background-color: peru;
}
p{
    color: blue;
}
 
h5{
    background-color: aqua;
    font-size: 50px;
}
#estado{
    background-color: yellow;
}
.btn{
    background-color: brown;
}
.texto-resaltado{
    color: yellowgreen;
}